DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.hgufndnqbvcukbxmwtvo.supabase.co:6543/postgres?pgbouncer=true&connection_limit=5&sslmode=require"
DIRECT_URL="postgresql://postgres:YOUR_PASSWORD@db.hgufndnqbvcukbxmwtvo.supabase.co:5432/postgres?sslmode=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-random-secret-here"
NEXT_PUBLIC_APP_NAME="Arizen School"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
